[package]
name = "api"
version = { workspace = true }
edition = { workspace = true }
description = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
keywords = { workspace = true }
categories = { workspace = true }

[lib]
name = "api"
path = "src/lib.rs"

[dependencies]
lib = { path = "../lib" }